{{ partial "header.html" . }}

<div class="content container">
  <h1>Posts</h1>

  {{ with .Site.GetPage "section" "posts" }}
    {{ range .Data.Pages.GroupByDate "2006" }}
    
    <section>
      <!-- <h4>{{ .Key }}</h4> -->
      <p>
        {{ range .Pages }}
           <aside> <br>{{ .Date.Format "January 2, 2006"}}</aside>
            <a href="{{ .Permalink }}" class="permalink">{{ .Title }}</a>{{ if .Draft }} <span style="color:#FF4136;">(unpublished)</span>{{ end }}
        {{ end }}
    </p>
    </section>

    {{ end }}
  {{ end }}

</div>

{{ partial "footer.html" . }}